<div class="container">
  <h1>{{title}}</h1>
  <form #personForm="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
        [(ngModel)]="person.name" name="name"/>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" 
      [(ngModel)]="person.email" name="email"/>
    </div>

    <div class="form-group">
        <label for="ssn">SSN</label>
        <input type="text" class="form-control" id="ssn" required
        [(ngModel)]="person.ssn" name="ssn"/>
    </div>

    <div class="form-group">
        <label for="dob">DOB</label>
        <input type="text" class="form-control" id="dob" required
        [(ngModel)]="person.dob" name="dob"/>
    </div>
    <button [disabled]="!personForm.valid" (click)="submit()" type="submit" class="btn btn-success">Submit</button>
  
  </form>
{{personForm.valid}}
</div>
